<div class="chart">
  <ng-container headers>
    <ng-container column="[4, last[" index="[1, 5]" placement rows="[1, 2[">
      <div
        class="placement text-nowrap d-flex justify-content-start align-content-center flex-wrap"
      >
        Front
      </div>
      <div
        class="placement text-nowrap d-flex justify-content-center align-content-center flex-wrap"
      >
        Near-front
      </div>
      <div
        class="placement text-nowrap d-flex justify-content-center align-content-center flex-wrap"
      >
        Central
      </div>
      <div
        class="placement text-nowrap d-flex justify-content-center align-content-center flex-wrap"
      >
        Near-back
      </div>
      <div
        class="placement text-nowrap d-flex justify-content-end align-content-center flex-wrap"
      >
        Back
      </div>
    </ng-container>

    <ng-container column="[1, 4[" constriction index="[6, 12]" rows="[2, last[">
      <div
        class="constriction text-nowrap d-flex justify-content-end align-content-center flex-wrap"
      >
        Close
      </div>
      <div
        class="constriction text-nowrap d-flex justify-content-end align-content-center flex-wrap"
      >
        Near-close
      </div>
      <div
        class="constriction text-nowrap d-flex justify-content-end align-content-center flex-wrap"
      >
        Close-mid
      </div>
      <div
        class="constriction text-nowrap d-flex justify-content-end align-content-center flex-wrap"
      >
        Mid
      </div>
      <div
        class="constriction text-nowrap d-flex justify-content-end align-content-center flex-wrap"
      >
        Open-mid
      </div>
      <div
        class="constriction text-nowrap d-flex justify-content-end align-content-center flex-wrap"
      >
        Near-open
      </div>
      <div
        class="constriction text-nowrap d-flex justify-content-end align-content-center flex-wrap"
      >
        Open
      </div>
    </ng-container>
  </ng-container>

  <ng-container column="[4, last[" index="[13, last-8]" rows="[2, last[" vowel>
    @for (positionVowels of vowelsByPosition | keyvalue; track $index) {
      @if (answered$()) {
        @let vowels = positionVowels.value;
        @let position = positionVowels.key;
        @let vowelIds = vowelIdsByPosition[position];
        @let selectedAnswer = selectedAnswer$();
        @let question = question$();
        @let questionVowelId = question?.vowel?.id;

        <div
          class="vowels bg-white rounded-circle d-flex"
          [attr.vowels]="position"
          [ngClass]="{
            'z-1 position-relative':
              (selectedAnswer !== undefined &&
                vowelIds.includes(selectedAnswer)) ||
              (questionVowelId !== undefined &&
                vowelIds.includes(questionVowelId)),
          }"
        >
          @for (vowel of vowels; track $index) {
            <div
              class="rounded-circle d-flex align-items-center justify-content-center"
              [attr.vowel]="vowel.name"
              [matTooltip]="vowel.name"
              [matTooltipHideDelay]="5000"
              [ngClass]="{
                'border scale-50':
                  selectedAnswer === vowel.id || questionVowelId === vowel.id,
                'border-danger':
                  selectedAnswer === vowel.id &&
                  questionVowelId !== selectedAnswer,
                'border-success': questionVowelId === vowel.id,
              }"
            >
              <div
                class="position text-center"
                matTooltipPosition="above"
                [matTooltip]="vowel.symbol.names.join(', ')"
                [matTooltipHideDelay]="5000"
              >
                {{ vowel.letter }}
              </div>
            </div>
          }
        </div>
      }
    }
  </ng-container>

  <div class="diagonals d-flex">
    <div>
      <div></div>
    </div>

    <div>
      <div></div>
    </div>
  </div>

  <div class="horizontal_1">
    <div></div>
  </div>
  <div class="horizontal_2">
    <div></div>
  </div>
  <div class="horizontal_3">
    <div></div>
  </div>
  <div class="horizontal_4">
    <div></div>
  </div>

  <div class="vertical">
    <div></div>
  </div>
</div>
