<div class="container container-login">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Account</mat-card-title>
    </mat-card-header>
    <mat-card-content class="pt-3">
      <ng-container *ngIf="user$ | async as user; else loginView">
        <p>
          Signed in as: <br /><strong>{{ user.email || 'Anonymous' }}</strong>
        </p>
        <p class="text-secondary small">UID: {{ user.uid }}</p>
        <button color="warn" mat-stroked-button (click)="logout()">
          Sign Out
        </button>
      </ng-container>

      <ng-template #loginView>
        <button class="w-100 mb-3" mat-flat-button (click)="googleLogin()">
          <mat-icon>login</mat-icon>
          Sign in with Google
        </button>

        <button
          class="w-100 mb-3"
          mat-stroked-button
          (click)="continueAnonymous()"
        >
          Continue anonymously
        </button>

        <div class="divider">OR</div>

        <mat-tab-group>
          <mat-tab label="Sign In">
            <form
              class="d-flex flex-column gap-2 pt-3"
              [formGroup]="loginForm"
              (ngSubmit)="onLogin()"
            >
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput type="email" />
                <mat-error *ngIf="loginForm.get('email')?.hasError('email')"
                  >Invalid email</mat-error
                >
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput type="password" />
                <mat-error
                  *ngIf="loginForm.get('password')?.hasError('minlength')"
                  >Min 6 chars</mat-error
                >
              </mat-form-field>
              <button
                color="primary"
                mat-raised-button
                type="submit"
                [disabled]="loginForm.invalid"
              >
                Log In
              </button>
            </form>
          </mat-tab>
          <mat-tab label="Register">
            <form
              class="d-flex flex-column gap-2 pt-3"
              [formGroup]="registerForm"
              (ngSubmit)="onRegister()"
            >
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput type="email" />
                <mat-error *ngIf="registerForm.get('email')?.hasError('email')"
                  >Invalid email</mat-error
                >
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput type="password" />
                <mat-error
                  *ngIf="registerForm.get('password')?.hasError('minlength')"
                  >Min 6 chars</mat-error
                >
              </mat-form-field>
              <button
                color="accent"
                mat-raised-button
                type="submit"
                [disabled]="registerForm.invalid"
              >
                Sign Up
              </button>
            </form>
          </mat-tab>
        </mat-tab-group>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>
