@use 'sass:list';
@use 'sass:math';

$border-debug: true;

$distinct-colors: (
  ('Red', '#E6194B'),
  ('Green', '#3CB44B'),
  ('Yellow', '#FFE119'),
  ('Blue', '#4363D8'),
  ('Orange', '#F58231'),
  ('Purple', '#911EB4'),
  ('Cyan', '#42D4F4'),
  ('Magenta', '#F032E6'),
  ('Lime', '#BFEF45'),
  ('Pink', '#FABED4'),
  ('Teal', '#469990'),
  ('Lavender', '#DCBEFF'),
  ('Brown', '#9A6324'),
  ('Beige', '#FFFAC8'),
  ('Maroon', '#800000'),
  ('Mint', '#AAFFC3'),
  ('Olive', '#808000'),
  ('Apricot', '#FFD8B1'),
  ('Navy', '#000075'),
  ('Grey', '#A9A9A9'),
  ('White', '#FFFFFF'),
  ('Black', '#000000')
);
$n-distinct-colors: list.length($distinct-colors);
$current-color: 0;
@function getNextColor() {
  $current-color: $current-color + 1 !global;

  @if ($current-color > $n-distinct-colors) {
    $current-color: 1 !global;
    @warn 'No more distinct colors in the list, restarting.';
  }

  $name-hex: list.nth($distinct-colors, $current-color);
  $hex: list.nth($name-hex, 2);
  @return $hex;
}

@mixin nextBorder($width: 1px, $style: solid, $sides...) {
  @if (list.length($sides) > 0) {
    @each $side in $sides {
      border-#{$side}: #{$width} #{$style} #{getNextColor()};
    }
  } @else {
    border: #{$width} #{$style} #{getNextColor()};
  }
}

.hidden {
  visibility: hidden;
}

.symbol-name {
  display: inline-block;
  text-transform: lowercase;

  &::first-letter {
    text-transform: uppercase;
  }
}

#test {
  $horizontal-resolution: 3;

  $constrictions: (
    'Close',
    'Near-close',
    'Close-mid',
    'Mid',
    'Open-mid',
    'Near-open',
    'Open'
  );

  $placements: ('front', 'near-front', 'central', 'near-back', 'back');

  $n-placements: list.length($placements);
  $n-grid-columns: ($n-placements + 1) * $horizontal-resolution;
  $info-n-columns: 4;

  @if ($border-debug) {
    @include nextBorder(2px);
  }

  padding: 5px;
  display: grid;
  grid-template-columns: repeat($n-grid-columns, 1fr);
  grid-template-rows: repeat(8, 1fr);
  // align-items: center;
  font-size: x-small;

  .placement,
  .constriction {
    font-size: x-small;
  }

  .placement {
    @if ($border-debug) {
      @include nextBorder();
    }

    $first-child-index: 1;
    $first-column-index: 1;
    $width: $horizontal-resolution;

    grid-row: 1 / 2;

    @for $i from 1 through $n-placements {
      $child: $i + $first-child-index - 1;

      &:nth-of-type(#{$child}) {
        $start: $i * $width + $first-column-index;

        grid-column: #{$start} / #{$start + $width};
      }
    }
  }

  $first-row-index: 1;
  $constriction-width: $horizontal-resolution;
  $n-constrictions: list.length($constrictions);

  .constriction {
    @include nextBorder();

    $first-child-index: 6;
    $width: $constriction-width;

    grid-column: 1 / #{$width + 1};

    @for $i from 1 through $n-constrictions {
      $child: $i + $first-child-index - 1;

      &:nth-of-type(#{$child}) {
        $start: $i + $first-row-index;

        grid-row: #{$start} / #{$start + 1};
      }
    }
  }

  .vowels {
    @include nextBorder();
    aspect-ratio: 2 / 1;

    > * {
      aspect-ratio: 1 / 1;
    }

    span {
      background-color: white;
    }

    $first-child-index: 13;
    $first-col-index: $constriction-width + 1;

    @for $i from 1 through list.length($constrictions) {
      $constriction: list.nth($constrictions, $i);
      &[vowels^='#{$constriction} '] {
        $row-start: $i + $first-row-index;
        $row-end: $row-start + 1;

        grid-row: #{$row-start} / #{$row-end};

        $middle-placement: 3;

        @for $j from 1 through $n-placements {
          $placement: list.nth($placements, $j);
          $aligner: 2;

          @if ($j < $middle-placement) {
            $aligner: 0;
          } @else if $j == $middle-placement {
            $aligner: 1;
          }

          &[vowels*=' #{$placement}'] {
            $col-start: ($horizontal-resolution) *
              ($j - 1) +
              $first-col-index +
              $aligner;

            grid-column: #{$col-start} / #{$col-start + 1};
          }
        }
      }
    }
  }

  [class^='diagonal'] {
    width: 100%;
    height: 100%;
    z-index: -1;
    grid-row: 2 / 9;

    > div {
      width: 100%;
      height: 100%;

      > div {
        width: 100%;
        height: 100%;
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'><line x1='0' y1='0' x2='100' y2='100' style='stroke:black' /></svg>");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }
    }
  }

  $d1_column-start: $constriction-width + 1;
  $d1_column-end: $d1_column-start + $horizontal-resolution * 3 - 1;
  $d1_width: $d1_column-end - $d1_column-start;

  .diagonal_1 {
    $heigth: 7;
    width: #{$d1_width};

    transform: scale(
      #{math.div($d1_width - 1, $d1_width)},
      #{math.div($heigth - 1, $heigth)}
    );
    grid-column: #{$d1_column-start} / #{$d1_column-end};
    @if ($border-debug) {
      @include nextBorder();
    }
  }

  .diagonal_2 {
    $heigth: 7;
    $width: math.div($d1_width, 2) + 1;

    $column-start: $d1_column-end - 1;
    $column-end: $column-start + $width;

    transform: scale(
      #{math.div($width - 1, $width)},
      #{math.div($heigth - 1, $heigth)}
    );

    grid-column: #{$column-start} / #{$column-end};
    @if ($border-debug) {
      @include nextBorder();
    }
  }

  [class^='horizontal'] {
    width: 100%;
    height: 100%;
    transform: translateY(50%);
    z-index: -1;
    grid-column: #{$constriction-width + 1} / #{$n-grid-columns + 1};
    border-top: 2px solid black;

    > div {
      width: 100%;
      height: 100%;
    }
  }

  @for $i from 1 through 4 {
    .horizontal_#{$i} {
      grid-row: #{$i * 2} / #{$i * 2 + 1};
    }
  }

  .vertical {
    width: 100%;
    height: 100%;
    z-index: -1;

    > div {
      width: 100%;
      height: 100%;
    }

    grid-row: 2 / 9;
    grid-column: #{$n-grid-columns} / #{$n-grid-columns + 1};
    border-right: 2px solid black;
  }
}

.chart {
  $horizontal-resolution: 3;

  $constrictions: (
    'Close',
    'Near-close',
    'Close-mid',
    'Mid',
    'Open-mid',
    'Near-open',
    'Open'
  );

  $placements: ('front', 'near-front', 'central', 'near-back', 'back');

  $n-placements: list.length($placements);
  $n-grid-columns: ($n-placements + 1) * $horizontal-resolution;
  $info-n-columns: 4;

  @if ($border-debug) {
    border: 2px solid Red;
  }
  padding: 5px;
  display: grid;
  grid-template-columns: repeat($n-grid-columns, 1fr);
  grid-template-rows: repeat(8, 1fr);
  align-items: center;

  .placement,
  .constriction {
    font-size: x-small;
  }

  .placement {
    @if ($border-debug) {
      border: 1px solid Green;
    }

    $first-child-index: 1;
    $first-column-index: 1;
    $width: $horizontal-resolution;

    grid-row: 1 / 2;

    @for $i from 1 through $n-placements {
      $child: $i + $first-child-index - 1;

      &:nth-of-type(#{$child}) {
        $start: $i * $width + $first-column-index;

        grid-column: #{$start} / #{$start + $width};
      }
    }
  }

  $first-row-index: 1;
  $constriction-width: $horizontal-resolution;
  $n-constrictions: list.length($constrictions);

  .constriction {
    @if ($border-debug) {
      border: 1px solid Yellow;
    }
    $first-child-index: 6;
    $width: $constriction-width;

    grid-column: 1 / #{$width + 1};

    @for $i from 1 through $n-constrictions {
      $child: $i + $first-child-index - 1;

      &:nth-of-type(#{$child}) {
        $start: $i + $first-row-index;

        grid-row: #{$start} / #{$start + 1};
      }
    }
  }

  .vowels {
    aspect-ratio: 4 / 2;
    span {
      background-color: white;
    }

    // > div {
    //   border: 1px solid transparent !important;
    //   border-radius: 100%;
    // }
    // > div:hover {
    //   color: gray;
    //   border-color: green !important;
    // }

    $placement-border-color: ('Orange', 'Purple', 'Cyan', 'Magenta', 'Lime');
    $constriction-border-color: (
      'Pink',
      'Grey',
      'Pink',
      'Teal',
      'Lavender',
      'Brown',
      'Beige'
    );
    $first-child-index: 13;
    $first-col-index: $constriction-width + 1;

    @for $i from 1 through list.length($constrictions) {
      $constriction: list.nth($constrictions, $i);

      &[vowels^='#{$constriction} '] {
        $row-start: $i + $first-row-index;
        $row-end: $row-start + 1;

        grid-row: #{$row-start} / #{$row-end};

        $middle-placement: 3;

        @for $j from 1 through $n-placements {
          $placement: list.nth($placements, $j);
          $aligner: 2;

          @if ($j < $middle-placement) {
            $aligner: 0;
          } @else if $j == $middle-placement {
            $aligner: 1;
          }

          &[vowels*=' #{$placement}'] {
            $col-start: ($horizontal-resolution) *
              ($j - 1) +
              $first-col-index +
              $aligner;

            grid-column: #{$col-start} / #{$col-start + 1};
            @if ($border-debug) {
              border-top: 1px solid #{list.nth($placement-border-color, $j)};
              border-right: 1px solid #{list.nth($placement-border-color, $j)};
              border-bottom: 1px
                solid
                #{list.nth($constriction-border-color, $i)};
              border-left: 1px
                solid
                #{list.nth($constriction-border-color, $i)};
            }

            $factor: 0;
            @if ($j == 1) {
              $factor: 1;
            } @else if ($j == 3) {
              $factor: 0.5;
            }

            $translate: math.div($i - 1, $n-constrictions - 1) *
              $n-constrictions *
              100 *
              $factor;
            transform: translateX(#{$translate}#{'%'});
          }
        }
      }
    }

    > div {
      // max-width: 100%;
      flex: 1 1 0px;
    }

    > div:nth-child(2) {
      @if ($border-debug) {
        border-left: 1px solid Navy;
      }
      // min-width: 50% !important;
    }
  }

  [class^='diagonal'] {
    width: 100%;
    height: 100%;
    z-index: -1;
    grid-row: 2 / 9;

    > div {
      width: 100%;
      height: 100%;

      > div {
        width: 100%;
        height: 100%;
        background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'><line x1='0' y1='0' x2='100' y2='100' style='stroke:black' /></svg>");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }
    }
  }

  $d1_column-start: $constriction-width + 1;
  $d1_column-end: $d1_column-start + $horizontal-resolution * 3 - 1;
  $d1_width: $d1_column-end - $d1_column-start;

  .diagonal_1 {
    $heigth: 7;
    width: #{$d1_width};

    transform: scale(
      #{math.div($d1_width - 1, $d1_width)},
      #{math.div($heigth - 1, $heigth)}
    );
    grid-column: #{$d1_column-start} / #{$d1_column-end};
    @if ($border-debug) {
      border: 1px solid Maroon;
    }
  }

  .diagonal_2 {
    $heigth: 7;
    $width: math.div($d1_width, 2) + 1;

    $column-start: $d1_column-end - 1;
    $column-end: $column-start + $width;

    transform: scale(
      #{math.div($width - 1, $width)},
      #{math.div($heigth - 1, $heigth)}
    );

    grid-column: #{$column-start} / #{$column-end};
    @if ($border-debug) {
      border: 1px solid #aaffc3;
    }
  }

  [class^='horizontal'] {
    width: 100%;
    height: 100%;
    transform: translateY(50%);
    z-index: -1;
    grid-column: #{$constriction-width + 1} / #{$n-grid-columns + 1};
    border-top: 1px dashed Olive;

    > div {
      width: 100%;
      height: 100%;
    }
  }

  @for $i from 1 through 4 {
    .horizontal_#{$i} {
      grid-row: #{$i * 2} / #{$i * 2 + 1};
    }
  }

  .vertical {
    width: 100%;
    height: 100%;
    z-index: -1;

    > div {
      width: 100%;
      height: 100%;
    }

    grid-row: 2 / 9;
    grid-column: #{$n-grid-columns} / #{$n-grid-columns + 1};
    border-right: 1px dotted #ffd8b1;
  }
}
