<div class="quiz-container">
  @let quiz = openedQuiz$();
  @let index = index$();
  @let question = question$();
  @let selectedAnswer = selectedAnswer$();
  @let answered = answered$();
  @let finished = finished$();
  @let questionsLength = questionsLength$();

  @if (
    quiz !== void 0 && index !== void 0 && question !== void 0 && questionsLength !== void 0
  ) {
    <div>
      <h1>{{ quiz.name }}</h1>

      <p>Question {{ index + 1 }}</p>

      <app-quiz-prompt
        [question]="question"
        (nextSound)="nextQuestionSound($event)"
      ></app-quiz-prompt>

      <app-quiz-options
        [answered]="answered"
        [question]="question"
        [selectedAnswer]="selectedAnswer"
        (nextSound)="nextOptionSound($event.vowel)"
        (selectAnswer)="selectAnswer($event.value)"
      ></app-quiz-options>

      <app-quiz-controls
        [answered]="answered"
        [finished]="finished"
        [index]="index"
        [questionsLength]="questionsLength"
        [selectedAnswer]="selectedAnswer"
        (newSession)="onNewSession()"
        (next)="onNext()"
        (previous)="onPrevious()"
        (verify)="onVerify()"
      ></app-quiz-controls>
    </div>

    <app-chart
      [answered]="answered"
      [question]="question"
      [selectedAnswer]="selectedAnswer"
    ></app-chart>
  } @else {
    <p class="alert alert-danger" role="alert">
      ERROR: Ops! Something went wrong.
    </p>
  }
</div>
