@let selectedAnswer = selectedAnswer$();

<mat-radio-group
  class="d-flex flex-column"
  [value]="selectedAnswer"
  (change)="onSelectAnswer($event)"
>
  @let isAnswered = answered$();
  @let question = question$();
  @let correctOptionId = question.vowel.id;

  @for (item of question.options | keyvalue; track item.key) {
    @let option = item.value;
    @let isSelected = selectedAnswer === option.id;
    @let isCorrect = isAnswered && option.id === correctOptionId;

    <mat-radio-button
      class="bg-light rounded-5 my-1"
      color="primary"
      [disabled]="isAnswered"
      [disabledInteractive]="true"
      [ngClass]="{
        border: isAnswered && (isSelected || isCorrect),
        'border-danger': isSelected && !isCorrect,
        'border-success': isCorrect,
      }"
      [value]="option.id"
    >
      @if (
        option.type === questionElement.Letter ||
        option.type === questionElement.Name
      ) {
        <div class="align-items-center d-flex justify-content-between">
          <div>
            {{
              option.type === questionElement.Letter
                ? option.letter
                : option.name
            }}
          </div>

          @if (isAnswered && isSelected && !isCorrect) {
            @if (option.sounds!==void 0 && option.soundIndex!==void 0) {
              <div class="d-flex me-4">
                <app-sound-player
                  [abbreviateAuthor]="true"
                  [sound]="option.sounds[option.soundIndex]"
                  (played)="onPlaySound(option)"
                ></app-sound-player>
              </div>
            } @else {
              <span class="alert alert-danger small" role="alert">
                <ng-icon name="lucideAlertTriangle"></ng-icon>
              </span>
            }
          }
        </div>
      } @else if (
        option.type === questionElement.Sound  && option.sounds!==void 0 && option.soundIndex!==void 0
      ) {
        <app-sound-player
          [sound]="option.sounds[option.soundIndex]"
          (played)="onPlaySound(option)"
        ></app-sound-player>
      } @else {
        <p class="alert alert-danger" role="alert">
          ERROR: Ops! Something went wrong.
        </p>
      }
    </mat-radio-button>
  }
</mat-radio-group>
