@if (question != null) {
  <div class="question-box">
    <h3>Question {{ i + 1 }}/{{ totalQuestions }}</h3>
    <h3>{{ question.question }}</h3>
    @for (option of question.options; track option) {
      <div class="options">
        <input
          type="radio"
          name="options"
          id="option1"
          value="{{ option }}"
          [checked]="true"
          (change)="onSelecting($any($event.target).value)"
          />{{ option }}
        </div>
      }
      @if (i > 0) {
        <button class="prev" (click)="onPrev()">prev</button>
      }
      <button class="next" (click)="onNext()">next</button>
    </div>
  } @else {
    <div class="score">
      <h3>Score : {{ this.score }}</h3>
    </div>
  }

