@let vowel = question$().vowel;
@if (isLetterQuestion$()) {
  <p>
    <span>{{ vowel.letter }}</span> -
    <span class="symbol-name">{{
      vowel.symbol.names.join(', ') | lowercase
    }}</span>
  </p>
} @else if (isNameQuestion$()) {
  <p>{{ vowel.name }}</p>
} @else if (
  isSoundQuestion$() && vowel.sounds!==void 0 && vowel.soundIndex!==void 0
) {
  <app-sound-player
    [sound]="vowel.sounds[vowel.soundIndex]"
    (played)="onPlaySound(vowel)"
  ></app-sound-player>
} @else {
  <p class="alert alert-danger" role="alert">
    ERROR: Ops! Something went wrong.
  </p>
}
