.quiz-main {
  background-color: thistle;
  height: 400px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}

.header {
  align-items: center;
  background-color: indigo;
  display: flex;
  justify-content: space-between;
}

timer {
  margin-right: 10px;
}

h3 {
  /* background-color: plum; */

  /* background-color: indigo; */
  color: #fff;
  padding: 10px;
  text-align: center;
}

.start {
  align-items: center;
  background-color: lavender;
  display: flex;
  height: 100%;
  justify-content: center;
}

button {
  background-color: indigo;
  border: none;
  border-radius: 0.5em;
  color: #fff;
  padding: 12px 15px;
}

.quiz-questions {
  background-color: lavender;
  height: 100%;
}
