<div class="quiz-detail-container">
    <h1>{{ selectedQuiz.name }}</h1>
    <div *ngIf="selectedQuiz.questions.length > 0">
      <div *ngFor="let question of selectedQuiz.questions; let i = index">
        <h2>{{ i + 1 }}. {{ question.text }}</h2>
        <ul>
          <li *ngFor="let option of question.options">
            <label>
              <input type="radio" name="question{{ i }}" (change)="selectAnswer(i, option)" />
              {{ option }}
            </label>
          </li>
        </ul>
      </div>
      <button (click)="submitQuiz()">Submit</button>
    </div>
  </div>