<div class="d-flex flex-column h-100">
  <h1>Quiz Stats</h1>

  <section>
    <h2>Total</h2>

    <span
      class="ms-4 text-success"
      matBadgeOverlap="false"
      matTooltip="Correct"
      [matBadge]="totalStats$()?.correct"
      ><strong>✓</strong></span
    >
    <span
      class="ms-4 text-danger"
      matBadgeOverlap="false"
      matTooltip="Wrong"
      [matBadge]="totalStats$()?.wrong"
      ><strong>X</strong></span
    >
    <span
      class="ms-4 text-warning"
      matBadgeOverlap="false"
      matTooltip="Longest Streak"
      [matBadge]="totalStats$()?.longestStreak"
      ><strong>ϟ</strong></span
    >

    <span
      class="ms-4 text-warning"
      matBadgeOverlap="false"
      matTooltip="Current Streak"
      [matBadge]="totalStats$()?.currentStreak"
      ><strong>🗲</strong></span
    >
  </section>

  <section class="d-flex flex-column overflow-hidden">
    <h2>Sessions</h2>
    <div class="overflow-auto pt-1">
      @let firstIncompleted = (statsBySession$()?.[0]?.answered ?? 0) < 10;
      @for (stats of statsBySession$(); track $index) {
        <div>
          <span
            class="ms-4 text-success"
            matBadgeOverlap="false"
            matTooltip="Correct"
            [matBadge]="stats.correct"
            ><strong>✓</strong></span
          >
          <span
            class="ms-4 text-danger"
            matBadgeOverlap="false"
            matTooltip="Wrong"
            [matBadge]="stats.wrong"
            ><strong>X</strong></span
          >
          <span
            class="ms-4 text-warning"
            matBadgeOverlap="false"
            matTooltip="Longest Streak"
            [matBadge]="stats.longestStreak"
            ><strong>ϟ</strong></span
          >

          <span
            class="ms-4 text-warning"
            matBadgeOverlap="false"
            matTooltip="Current Streak"
            [matBadge]="stats.currentStreak"
            ><strong>🗲</strong></span
          >
        </div>
        @if (firstIncompleted && $index === 0) {
          <span class="text-secondary small"><sup>Incomplete</sup> </span>
        }
        @if (
          [10, 25, 50, 100].includes($index + 1 - (firstIncompleted ? 1 : 0))
        ) {
          <span class="text-secondary small"
            ><sup>{{ 'SMA' + ($index + 1 - (firstIncompleted ? 1 : 0)) }}</sup>
          </span>
        }
      }
    </div>

    <div>
      <hr class="mat-divider" />
      @for (average of movingAverages$(); track $index) {
        <div class="ms-4">
          <ng-icon name="lucideChartSpline"></ng-icon
          ><span>{{ average.type }}-{{ average.length }}:</span
          ><span> {{ average.value | percent: '2.2-2' }}</span>
        </div>
      }
    </div>
  </section>

  <button
    class="flex-shrink-0"
    color="primary"
    mat-raised-button
    (click)="practice()"
  >
    Practice
  </button>
</div>
