/* You can add global styles to this file, and also import other style files */
@use './styles/bootstrap';

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}
