<div
  class="home-container d-flex flex-column home-container justify-content-between vh-100"
  >
  <header>
    <h1>Master the IPA – Quiz Your Way to Phonetic Prowess!</h1>
  </header>

  <section class="welcome-message">
    <p>
      Dive into the world of sounds with our interactive IPA quiz app. Whether
      you're a linguistics enthusiast, a language learner, or just curious about
      phonetics, we've got a fun and challenging journey for you!
    </p>
  </section>

  <section class="key-features">
    <h2>Key Features</h2>
    <div
      (swipeleft)="onSwipeLeft()"
      (swiperight)="onSwipeRight()"
      class="carousel"
      >
      @for (feature of features; track feature; let i = $index) {
        <div
          class="carousel-item"
          [class.active]="i === currentSlide"
          >
          <p>
            <strong>{{ feature.title }}: </strong>{{ feature.description }}
          </p>
        </div>
      }
    </div>
    <div class="carousel-indicators">
      @for (feature of features; track feature; let i = $index) {
        <span
          [class.active]="i === currentSlide"
          (click)="setSlide(i)"
        ></span>
      }
    </div>
  </section>

  <button (click)="startQuiz()" class="cta-button">Start Quiz Now!</button>

  <footer>
    <ul class="social-links">
      @for (link of socialLinks; track $index) {
        <li>
          <a [href]="link.href" target="_blank"
            ><ng-icon [name]="link.icon"></ng-icon> {{ link.title }}</a
            >
          </li>
        }
      </ul>
      <p>&copy; 2025 IPA Quiz App. All rights reserved.</p>
    </footer>
  </div>
