.home-container {
  background-blend-mode: lighten;
  background-color: rgb(255 255 255 / 95%);
  background-image: url('/hero_image.jpeg');
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  text-align: center;
}

header {
  margin-bottom: 20px;
}

.introduction {
  margin-bottom: 20px;
}

.quiz-list {
  margin-bottom: 20px;
}

button {
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}

footer {
  color: #777;
  font-size: 14px;
  margin-top: 20px;
}

.hero-image {
  height: auto;
  margin-bottom: 20px;
  width: 100%;
}

.welcome-message {
  margin-bottom: 20px;
}

.key-features {
  margin-bottom: 20px;
}

.key-features ul {
  list-style-type: none;
  padding: 0;
}

.key-features li {
  margin-bottom: 10px;
}

.cta-button {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}

.social-links {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 10px;
  padding: 0;
}

.social-links li {
  margin: 0 10px;
}

.social-links a {
  color: #007bff;
  text-decoration: none;
}

.social-links a:hover {
  text-decoration: underline;
}

.carousel {
  height: 150px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.carousel-item {
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: opacity 0.5s ease-in-out;
  width: 100%;
}

.carousel-item.active {
  opacity: 1;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.carousel-indicators span {
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 10px;
  margin: 0 5px;
  width: 10px;
}

.carousel-indicators span.active {
  background-color: #007bff;
}
