<button
  mat-icon-button
  matRipple
  (click)="$event.preventDefault(); $event.stopPropagation(); audio.play()"
>
  <ng-icon name="lucideCirclePlay"></ng-icon>
</button>

<button class="ms-1" mat-icon-button matRipple (click)="onNext($event)">
  <ng-icon name="lucideSkipForward"></ng-icon>
</button>

<span class="ms-2 d-inline-flex align-items-center gap-2">
  @if (sound().logoUrl) {
    <img
      height="18"
      [alt]="sound().sourceId"
      [src]="sound().logoUrl"
      [title]="sound().sourceTitle"
    />
  }
  <small>{{ authorName() }}</small>
</span>

<audio #audio preload="auto" [src]="sound().url"></audio>
